<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> A user of the Oregon Humane Society's Pet Finder has sent you this message: </p>

    <p> &nbsp; "<%= @message%>" </p><br>

    <p>To contact the sender of this message, click HERE</p>

  </body>
</html>
