<br>
<div class="container-fluid">
  <div class="row-fluid">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="display1">
        <h1> Most recent lost pets :</h1>
      </div>
      <% if @lost.empty? %>
        <h1>There are presently no lost pets </h1>
      <%end%>
      <% @lost.each do |pet| %>
        <br>
        <%= render pet %>
      <%end%>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="display1">
        <h1>Most recent found pets:</h1>

      </div>
      <% if @found.empty? %>
        <h1>There are presently no found pets </h1>
      <%end%>
      <% @found.each do |pet| %>
        <br>
        <%= render pet %>
      <%end%>
    </div>

    <br><br><br><br><br><br><br><br>
  </div>
</div>
