<h1>Here is a list of lost and found pets</h1>

<h2>Found pets</h2>

<ul>

<%@pets.each do |pet|%>
  <li>
    <%= pet.species %>
    <br> <%=pet.description%>
    <br> <%=pet.loc_lost%>
  </li>
<%end%>
</ul>

<h2>Lost pets</h2>
