<%if @pet.lost%>
  <h3>List a lost pet:</h3>
<%else%>
  <h3>List a found pet</h3>
<%end%>
<br>
<%= render("layouts/errors", :object => @pet) %>

<%= render 'form' %>
<br>
<p><%= link_to "Return to pet index", pets_path %></p>

<br><br><br>
