<center><h3><em>
  <p>To access the Oregon Humane Society's Lost Pet Finder, we ask that you please</em> <a href="/users/sign_up">Register</a>.</p>
  <em><p>If you are already a member, please</em> <a href="/users/sign_in">Sign In</a>.</p>
<center></h3></em>
