
<h1>Oregon Humane Society Pet Finder</h1>

<div class="row-fluid">
  <div class="span4">
    <button type="button" class="btn btn-default align="left"">Report lost pet</button>
  </div>
  <br>
  <div class="span4">
    <button type="button" class="btn btn-default" align="right">Report found pet</button>
  </div>
</div>

<br>

  <p><%=link_to "View lost and found pet index", pets_path %></p>

