@import "bootstrap";
@import "bootstrap_flatly";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#side_banner1{
  position: absolute;
  width: 248px;
  height: 90px;
  background-color: #663300;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
  text-align: left;
}

#side_banner2{
  position: absolute;
  width: 248px;
  height: 90px;
  background-color: #93be07;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
  text-align: left;
}

#side_banner3{
  position: absolute;
  width: 248px;
  height: 90px;
  background-color: #f26b32;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
  text-align: left;
}

.btn{
  width: 100%;
  height: 100%;
  font-size:25px;

}

.header-images{
  padding:0;

}

.logo{
  height:250px;
  padding:10px 0px 10px 0px ;

}

.test{
  height:100px;
  background-color: #663300;
  text-align:left;
}

.test1{
  height:100px;
  background-color: #75A319;
  text-align:left;
}

.test2{
  height:100px;
  background-color: #FF6600;
  text-align:left;
}

.banner{
  padding: 5px;
  background-color: #D6AD33;
  color:white;
  text-align:center;
}

h1{
  font-weight:bold;
  margin-top:0;
}

.green{
  color: #75A319;
}

.display{
  background-color:#3385FF;
  color:white;
  padding:5px;
  height:auto;
  width:auto;

}

.display1{
  background-color:#3385FF;
  color:white;
  padding:5px;
  height:85px;

}
a {
  color:black;
}
 .logged-in-as{
  margin-right:10px;
 }
